* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Header bagian Navigasi */
    .navigasi {
        position: fixed;
        z-index: 99;
        top: 0;
        height: 50px;
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        list-style-type: none;
        overflow: hidden;
        background-color: rgb(199, 233, 176) ;
    }

    .navigasi li {
        float: left;
    }

    .navigasi li a {
        font-size: 1.2em;
        font-weight: bold;
        margin: 0 10px;
        display: block;
        color: black;
        text-align: center;
        padding: 15px 16px;
        text-decoration: none;
    }

    .navigasi li a:hover {
        background-color: rgb(179, 201, 156);
    }

/*Bagian Kiri (Foto)*/
    .container {
        max-width : 60%;
        margin: 0 auto;
        height: 100%;
        float: left;
        position: fixed;
        overflow: hidden;
        padding-top: 50px;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    .container img {
        min-width: 100%;
        min-height: 100%;
    }

/*Sebelah kanan*/
    .content{
        width : 40%;
        height: auto;
        margin-top: 50px;
        background-color: rgba(221, 255, 187, .7);
        float: right; 
    }

    .content, .maps {
        background-image: url("../assets/001.png");
        background-size: contain;
        background-repeat: no-repeat;  
    }

    .date, .collection{
        margin: 5px 0;
        font-weight: bold;
        font-size: 2em;
        background-image: url("../assets/002.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
    }


    .date, .word, .collection, .maps, .formm{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-right: 15%;
        padding-left: 15%;
    }

    .nama, .word p {
        text-align: center;
        font-size: 1.7em;   
        align-items: center;
        justify-content: center;
    }

    .word {
        font-style: italic ;
        /* background-image: url("../assets/Image/line-01.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom; */
    }

    .word img{
        width: 60%;
        padding: 20px;
    }

    .collection{
        flex-direction: row;
    }


    .foto{
        padding: 0;
        margin: 0;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .list-foto{
        width: 90%;
        height: 100%;
        
    }

    .foto img{
        width: 100%;
        height: auto;   
        border: 2px solid #000;
        border-radius: 10%;
    }

/* Iframe Maps */

    .frame{
        padding-top: 40%;
    }

    .maps p{
        padding-top: 5%;
        font-size: 2em;
    }

/* Form Attendance */
    .formm {
        height: 100vh;
        margin: auto;
    }

    form{
        margin: auto;
        padding: 15px;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.6);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    label {
        margin-bottom: 10px;
    }

    input[type="text"],
    input[type="radio"] {
        width: 90%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 3px;
        font-size: 16px;
    }

    input[type="radio"] {
        width: auto;
        margin-right: 5px;
    }

    #no{
        margin-left: 20px;
    }

    textarea {
        resize: none;
        width: 90%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 3px;
        font-size: 16px;
    }

    .btnsubmit{
        text-align: right;
    }

    button {
        background-color: #ff6600;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 3px;
        font-size: 18px;
    }